* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    min-height: 100vh;
}

.custom-navbar {
    background-color: #f2f7ff;
    font-size: 1.3rem;
    text-transform: uppercase;
    --bs-navbar-padding-y: 1.5rem;
}

.nav-underline {
    --bs-navbar-nav-link-padding-x: 0;
    --bs-nav-underline-gap: 2.5rem;
    --bs-navbar-active-color: #337AB7;
    --bs-navbar-hover-color: #337AB7;
    --bs-nav-link-color: #676767;
}

.pigeoner-footer {
    position: sticky;
    top: 100vh;
    display: flex;
    background-color: #171717;
    padding: 30px 100px;
    justify-content: space-between;
    align-items: center;
}

.pigeoner-footer p {
    color: white;
    font-size: 1.2rem;
    margin: 0;
}

.page-body {
    margin-top: 2rem;
    margin-bottom: 2rem;
}