.table-box{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.pigeons-filters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 12px 12px;
    margin: 12px 0;
    grid-auto-flow: row;
    grid-template-areas:
    "ring condition dovecote name"
    "date-filters date-filters other-filters other-filters";
}

.ring { grid-area: ring; }

.condition { grid-area: condition; }

.dovecote { grid-area: dovecote; }

.name { grid-area: name; }

.date-filters {
    grid-area: date-filters;
    display: flex;
}

.other-filters {
    grid-area: other-filters;
    display: flex;
    gap: 12px;
}

.date-filters-item {
    flex-grow: 1;
}

.other-filters-item {
    flex: 1;
}

.two-fields-filter {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 12px 12px;
    grid-auto-flow: row;
    grid-template-areas:
    "label-field label-field"
    "left-filter right-filter";
}

.label-field { grid-area: label-field; }

.left-filter { grid-area: left-filter; }

.right-filter { grid-area: right-filter; }

.manage-panel {
    display: flex;
    gap: 12px;
    justify-content: space-between;
}

.manage-panel-item {

}

.invisible-item {
    flex-grow: 4;
}


